apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespace }}
  labels:
    name: {{ .Values.namespace }}
    app.kubernetes.io/name: {{ include "open-webui.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}

