apiVersion: v1
kind: Service
metadata:
  name: {{ include "open-webui.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "open-webui.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: {{ .Values.service.protocol }}
      name: http
    - port: {{ .Values.env.METRICS_PORT | int }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "open-webui.selectorLabels" . | nindent 4 }}

